---
import { Icon } from 'astro-icon';
import { Container, Button } from '@littlesticks/odyssey-theme-components';
import settings from '../../../config/settings.js';
import {ThemeSwitcher} from '../../theme-switcher/theme-switcher';
---

<!-- <Container> -->
	<section class="hero-section__section">
		<div class="hero-section__text">
				<h1>I am Dennis Macapagal</h1>
				<p>
					Full-Stack Developer

					<a
						href="https://astro.build"
						target="_blank"
						rel="noreferrer">Astro</a
					> 
					Trying to do better one day at a time.
				</p>
				<div class="hero-btns__container">
					<Button href="/theme/get-started" customIcon
						>Get Started
            <Fragment slot="icon">
              <Icon name="ic:baseline-chevron-right"/>
            </Fragment>
            </Button
					>
					<Button href="/theme/style-guide" unelevated>Style Guide</Button>
				</div>
        {settings.enableThemeSwitcher && <ThemeSwitcher client:load/>}
		</div>
		<div class="hero-section__image">
				<picture>
					<img
						src="/assets/images/home/classic-hero.jpg"
						alt="Astro Odyssey"
						id="home-hero-image"
					/>
				</picture>
		</div>
	</section>
<!-- </Container> -->

<style>
	.hero-section__section {
		position: relative;
    	height: 100vh;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 500px;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		width: 100%;
    	height: 100%;
	}
	.hero-section__image picture {
		width: 100%;
    	height: 100%;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 100vh;
		object-fit: cover;
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}
</style>
